<artical>
    <header>
        <h2><a href="#">{{ post.title }}</a></h2>
        <p>
            {{ 'post.on' | trans }}&nbsp;<time datetime="{{ post.createdAt | date('c')}}">{{ post.createdAt | date('c')}} </time>&nbsp;
            {{ 'by' | trans }} {{ post.author.name }}
        
        </p>
    </header>
    
    <p>
    {{ post.body | truncate(400) }} &#8212; <a href="#">{{ 'read.more'|trans }} &raquo;</a>
    
    </p> 